body {
	margin: 0;
	font-family: 'Mukta', sans-serif;
  	font-size: 12px;
  	overflow: hidden;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.reference.y.line {
	stroke: rgba(0,0,0,1);
	stroke-dasharray: 5;
}

.reference.y.label {
	text-anchor: end;
	fill: rgba(0,0,0,1);
}

.reference.x.line {
	stroke-width: 2px;
}

.reference.label {
	font-size: 14px;
}

.axis.label {
	text-anchor: middle;
	font-size: 20px;
	fill: rgba(0,0,0,0.3);
}

.label.asian {
	fill: rgb(0,166,111);
}

.asian.line {
	stroke: rgb(0,166,111);
}

.label.black {
	fill: rgb(225,170,0);
}

.black.line {
	stroke: rgb(225,170,0);
}

.tick text {
	font-size: 12px;
	fill: rgba(0,0,0,0.8);
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}